body.busy *
{
	cursor: wait !important;
}

html,
body
{
	background: #ccc;
}

#kadmium-content
{
	width: 600px;
	margin: 0 auto;
	background: #fff;
	overflow: hidden;
}

#kadmium-content.lb
{

	padding: 0;
	margin: 0;
	border: 0;
}

#kadmium-content ul.navigation
{
	width: 148px;
	padding: 0 1px 0 0;
	border-right: 1px solid #ccc;
	float: left;
}

#kadmium-content ul li a
{
	padding: 3px 5px;
	width: 138px;
	font-size: 93%;
	border-bottom: 1px solid #ccc;
	display: block;
	text-decoration: none;
}

#kadmium-content ul li a.active,
#kadmium-content ul li a:hover
{
	background: #ccc;
}

#kadmium-content .main
{
	width: 440px;
	float: left;
	margin: 0 0 0 -1px;
	padding: 0 0 0 9px;
	border-left: 1px solid #ccc;
}

input.error,
textarea.error,
select.error
{
	border-color: #ff3399;
	margin-bottom: 0;
}

div.error-message
{
	color: #ff3399;
	margin: 0 0 1em;
	clear: left;
}

input.timestamp
{
	float: left;
}

label,
ul.fields h2,
ul.fields h3
{
	float: left;
	clear: left;
}

ul.fields h3
{
	padding: 1.5em 0 0;
}

input,
select,
textarea,
.mceEditor,
.has-many-uniquely,
ul.fields #kohana_error,
.asmContainer,
.asmList
{
	float: left;
	clear: left;
}

ul.fields li.asmListItem
{
	background: #eee;
	margin: 0 0 1px;
	width: 300px
}

.mceEditor
{
	margin: 0 0 1em;
}

textarea.wysiwyg
{
	height: 35em;
}

a.dp-choose-date {
	float: left;
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 3px 3px 0;
	display: block;
	text-indent: -2000px;
	overflow: hidden;
	background: url(../img/calendar.png) no-repeat; 
}
a.dp-choose-date.dp-disabled {
	background-position: 0 -20px;
	cursor: default;
}

ul.fields
{
	overflow: hidden;
}

ul.fields li
{
	width: 100%;
} 

ul.fields h4
{
	margin: 0 0 0 15px;
	font-weight: normal;
	clear: left;
}

ul.fields li img
{
	float: left;
	clear: left;
}

ul.fields li input[type=text],
ul.fields li textarea
{
	width: 100%;
}

ul.has-many-uniquely
{
	margin: 1em 0 0 1em;
}

ul.has-many-uniquely li
{
	margin: 0 0 .2em;
}

/* List page */

table.list-page
{
	border: 1px solid #000;
	vertical-align: top;
}

table.list-page th
{
	padding: 5px;
	background: #3AA7CC;
	color: #fff;
	border: 1px solid #aae;
}

table.list-page td
{
	padding: 5px;
	border: 1px solid #ddd;
	vertical-align: top;
}

table.list-page tr.dragging td
{
	background: #ef0;
}

/* Icon buttons */

a.sorter
{
	display: block;
	width: 16px;
	height: 16px;
	background: url(../img/drag.png) no-repeat;
	margin: 0 auto;
	text-indent: -2000px;
	outline: 0;
}

a.add
{
	background: url(../img/page_new.gif) no-repeat;
	padding: 1px 0 0 20px;
}

a.edit
{
	background: url(../img/page_edit.gif) no-repeat;
	padding: 1px 0 0 20px;
}